@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

html,
body {
  color: white;
  background-color: #282c34;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.astronaut-svg {
  height: 30em;
}

button {
  font-family: "Nunito Sans";
}

.btn--home {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  transition: 0.5s;
}

.btn--home:hover {
  background-color: #fff;
  color: #000;
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
    transform: rotate(5deg);
  }
  60% {
    transform: translateY(-30px);
  }
}
